<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Medical -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Medical.presentation.MedicalModelWizardID"
            name="%_UI_MedicalModelWizard_label"
            class="Medical.presentation.MedicalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MedicalModelFile.gif">
         <description>%_UI_MedicalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Medical -->
      <editor
            id="Medical.presentation.MedicalEditorID"
            name="%_UI_MedicalEditor_label"
            icon="icons/full/obj16/MedicalModelFile.gif"
            extensions="medical"
            class="Medical.presentation.MedicalEditor"
            contributorClass="Medical.presentation.MedicalActionBarContributor">
      </editor>
   </extension>

</plugin>
