<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Medical -->
      <package
            uri="https://EMFexperiment.Medical"
            class="Medical.MedicalPackage"
            genModel="model/Medical.genmodel"/>
   </extension>

</plugin>
